<!DOCTYPE html>
<html lang="en">
<head>
    <title>Real application</title>
    <script src="/bower_components/angular/angular.js"></script>

</head>


<body ng-app="AddressBook">
    <h1>Hello world main file 2</h1>
    <div ng-controller="contactController">
        <div ng-repeat="contact in contacts">
            {{contact.name}}
            --> <avatar name="contact.name"></avatar>
        </div>
    </div>
<div ng-controller="AddContactController">
    <form ng-submit="addContact()">
        <h3>Add a new contact</h3>
        <label>
            Name (required)
            <input required type="text" ng-model="contact.name"/>
        </label>
        <label>
            Age
            <input type="number" ng-model="contact.age"/>
        </label>
        <label for="occupation">
            Occupation
            <input type="text" ng-model="contact.occupation"/>
        </label>

        <label for="">
            Email (required)
            <input required type="email" ng-model="contact.email"/>
        </label>

        <label for="submit">
            Add
            <input required type="submit" id="submitNewContact"/>
        </label>
        <div class="worning" ng-if="errorMessage">Please check fields</div>
    </form>
</div>
</body>

<script src="main.js"></script>
</html>